html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
}
.categorias {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  .categorias button {
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    background: #222;
    color: white;
    cursor: pointer;
    transition: 0.3s;
  }

  .categorias button:hover {
    background: #555;
  }